---
import { portfolioData } from "../data/portfolio";
const year = new Date().getFullYear();
---

<footer
    id="contact"
    class="text-white text-center p-4 flex justify-center items-center"
>
    <div class="flex">
        <p class="font-semibold text-sm varela-font">
            Copyright © <span id="year">{year}</span>
            &nbsp;{portfolioData.name}
        </p>
    </div>
</footer>
