---
import { portfolioData } from "../data/portfolio";
---

<footer
    id="contact"
    class="text-white text-center p-4 flex justify-center items-center"
>
    <div class="flex">
        <p class="font-semibold text-sm varela-font">
            Copyright © <span id="year"></span>
            {portfolioData.name}
        </p>
    </div>
</footer>

<script>
    document.getElementById("year").textContent = new Date()
        .getFullYear()
        .toString();
</script>

<style></style>
