---
import { portfolioData } from "../data/portfolio";
import ProjectCard from "./ProjectCard.astro";
import SectionTitle from "./SectionTitle.astro";
---

<section id="projects" class="py-16 px-4">
    <div class="container mx-auto">
        <SectionTitle title="A Few Fun Projects" />

        <div
            class="flex flex-wrap justify-center items-stretch mt-12 max-w-7xl mx-auto gap-3"
        >
            <div class="flex justify-start items-center gap-3 flex-col">
                {
                    portfolioData.projects
                        .slice(0, 4)
                        .map((project) => <ProjectCard project={project} />)
                }
            </div>

            <div class="flex justify-start items-center gap-3 flex-col">
                {
                    portfolioData.projects
                        .slice(4)
                        .map((project) => <ProjectCard project={project} />)
                }
            </div>
        </div>
    </div>
</section>

<script>
    const scaleObserver = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
            const target = entry.target;

            if (entry.isIntersecting && target instanceof HTMLElement) {
                if (!target.classList.contains("scale-animation-after")) {
                    target.classList.add("scale-animation-after");
                }
            }
        });
    });

    document.querySelectorAll(".card-project").forEach((card) => {
        scaleObserver.observe(card);
    });
</script>
