---
interface Props {
    title: string;
    class?: string;
}

const { title, class: className } = Astro.props;
---

<h2
    class={`section-title text-2xl md:text-3xl  font-bold italic text-center px-3 w-full ${className || "text-gray-200"}`}
    style="font-family: 'Varela Round', sans-serif;"
>
    {title}
</h2>
